body {
    font-family: Arial, sans-serif;
    background-color: #c7995e;
    text-align: center;
    background-image: url('cats.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
form {
    margin: auto;
    padding: 20px;
    background: white;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}
